@charset "UTF-8";

@font-face {
  font-family:'android';
  src:url('../fontes/idroid.otf') format('opentype') ;
  font-weight:normal;
  

}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  --cor0:#c5ebd6;
  --cor1:#83e1ad;
  --cor2:#3ddc84;
  --cor3:#2fa866;
  --cor4:#1a5c37;

  --fonte-padrão: Arial, verdana, helvetica, sans-serif;
  --fonte-idroid:'android', cursive ;
  --fonte-destaque:'Bebas Neue', cursive;
  
}

* {
  margin: 0px;
  padding: opx;
}


  body {
    background-color:#c5ebd6;
    font-family: var(--fonte-padrão);
}

a.externo::after {
  content: '\1F517';
}


header {
  background-image: linear-gradient(to bottom,var(--cor2),var(--cor4));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;

}

header h1{
  color: white;
  
  font-family:var(--fonte-destaque);
  margin-top:40px ;
  margin-bottom:20px ;
  font-size: 3em;
  text-shadow: 2px 2px 0px black;
} 
header  p {
  color:white;
  font-size: 1.2em;
  max-width: 500px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:50 ;
  text-shadow: 2px 2px 0px black;
  


}
nav {
  background-color: #1a5c37;
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.399);
}
nav > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;

}
nav > a:hover {
  background-color: #2fa866;
  
}

main {
  background-color: white;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.529);
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px;
}


main  h1 {
  color: #2fa866;
  
  font-family:var(--fonte-idroid);
}

main  h2 {
  font-family:var(--fonte-idroid);
  color: #2fa866;
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
  

}

main  p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em;
}

 main strong {
  color: #155230ad;
  font-weight: bolder;
  
}
main a {
  text-decoration: none;
  font-weight: bold;
  color: #1a5c37;
  background-color: #83e1ad;
  padding: 2px 6px;
}

main a.hover {
  text-decoration: underline;
  color: #83e1ad;

}

main img {
  width: 100%;
}

main img .pequena {
  max-width: 350px;
  display: block;
  margin: auto;

}

div.video {
  background-color: #1a5c37;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 58%;

  position: relative;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height:90% ;



}
aside {
  background-color: #2fa866;
  padding: 10px;
  border-radius: 10px;
  
}

aside > ul {
  list-style-position: inside;
  columns: 2;
}
aside > h3 {
  background-color: #3ddc84;
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

footer {
  background-color: #5bd7919c;
  color: white;
  text-align: center;
  font-size: 0.8px;
  padding: 5px;
}

footer a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

footer a.hover {
  text-decoration: underline;
  color: var(--cor1);

}

